<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Controllers</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/CSS/main.css">
</head>
<body>
<div th:include="/fragments :: main_menu">  </div>
<p color="white" align="center"><b>Управление контроллерами</b></p>

<div id="controllersAdmin">
    <table>
        <tr th:id="${lsr.id}" th:each="lsr : ${list}">
            <td><input type="checkbox" th:checked="${lsr.enabled}" class="blockUser" th:attr="data-controller-id=${lsr.id}"></td>

            <td th:text=></td>


            <td th:text=></td>


            <td>
                <a class="deleteRow" href="" th:attr="data-user-id=${lsr.id}">Удалить</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>