<!DOCTYPE html>
<html lang="ru" xmlns="http://www.thymleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymleaf.org " xmlns:th="http://jboss.org/xml/ns/javax/validation/mapping">
<head>
    <link rel="stylesheet" type="text/css" href="/CSS/main.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Управление пользователями</title>
</head>
<body>
<div th:include="/fragments :: main_menu">  </div>
<div><h1 color="white">Управление пользователями</h1></div>
<br/>
<br/>
<form>
    <table  class="central">
        <tr><td colspan="2"><p align="center">Поиск пользователя</p></br></td></tr>
        <tr><td>Логин:</td><td><input id="searchText" class="searchText" type="text" label="Логин"></td>
            <td colspan="2"><input class="searchButton" id="searchButton" type="button" value="поиск"/></td></tr>
    </table>
</form>
<div class="results" id="searchResult">

</div>
<br/>
<br/>
<form th:object="${user}" th:action="@{/admin/users}" method="POST">
<table class="central">
    <tr th:id="${lsr.id}" th:each="lsr : ${list}">
        <td><input type="checkbox" th:checked="${lsr.enabled}" class="blockUser" th:attr="data-user-id=${lsr.id}"></td>
        <td>Пользователь:</td>
        <td th:text=${lsr.firstName}></td>

        <td>Логин:</td>
        <td th:text=${lsr.username}></td>

        <td>Действия</td>
        <td>
            <a class="deleteRow" href="" th:attr="data-user-id=${lsr.id}">Удалить</a>
            <a th:href="@{/admin/user/}+${lsr.id}">Контроллеры</a>
        </td>
    </tr>
    <tr><td colspan="7" th:if="${pages.size > 0}" class="pagination"
            th:each="page : ${pages}">
        <a th:href="@{/admin/users/}+${page}*50+'&'+${page}*50+50">th:text=${page}</a>
    </td></tr>
    <tr><td colspan="7">Добавить пользователя.(простой пасс)</td></tr>

    <tr>
        <td colspan="2"><p>Login</p></td><td><p>
        <input type="text" id="username" th:field="*{username}"/>
    </p></td>
        <td><p>First name</p></td><td><p>
        <input type="text" id="first_name" th:field="*{firstName}"/>
    </p></td>
        <td><p>Password</p></td><td><p>
        <input type="password" id="password" th:field="*{password}"/>
    </p></td>
    <tr>
    <td colspan="4"><p>Включить: <input type="checkbox" th:field="*{enabled}" max="1" min="0"/></p></td>
    <td  colspan="3"><p><input type="submit" value="Добавить"/></p></td>
</tr>
</table>
</form>

<script th:inline="javascript"
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"
></script>

<script th:inline="javascript">
$("a.deleteRow").click(function (event){
    event.preventDefault();
    var td = $(event.target).parent();
    var tr = td.parent();
    let userId = $(event.target).attr('data-user-id');
   $.ajax({
                url: '/admin/users/delete/' + userId,
                method: 'DELETE',
                success: function () {
                    tr.remove();
                },
                error: function (error) {
                alert('error; ' + eval(error));
                }
            });
});
$("input.blockUser").change(function (event){
    event.preventDefault();
   var checkbox = $(event.target);
    let userId = $(event.target).attr('data-user-id');
    if(checkbox.is(':checked')){
        $.ajax({
                    url: '/admin/users/block/' + userId,
                    dataType: 'json',
                    method: 'POST',
                    data: {enable:1},
                    success: function () {
                    },
                    error: function(jqxhr, status, errorMsg) {
				    console.log("Статус: " + status +" Ошибка: " + errorMsg);
			}

               });
    }else{
        $.ajax({
                    url: '/admin/users/block/' + userId,
                    method: 'POST',
                    dataType: 'json',
                    data: {enable:0},
                    success: function () {
                    },
                    error: function(jqxhr, status, errorMsg) {
				    console.log("Статус: " + status +" Ошибка: " + errorMsg);
			}
              });
         }

});
$("input.searchButton").click(function (event){
    event.preventDefault();
    var like = $("input.searchText").val();
    $.ajax({
            url:'/admin/users/findByName/' + like,
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                var divRes = $("div.results");
                $.each(data, function (index, element){
                divRes.html('<a href="/admin/user/' + element.id + '" >' + element.username + '</a>');
                    });
                console.log(data);
            },
            error: function (e) {
                alert(e);
            }
    });
});

    </script>
</body>
</html>
