<!DOCTYPE html>
<html lang="ru" xmlns="http://www.thymleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymleaf.org " xmlns:th="http://jboss.org/xml/ns/javax/validation/mapping">
<head>
    <link rel="stylesheet" type="text/css" href="/CSS/main.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:include="/admin/adminMenu :: adminMenu">  </div>
<h1>User controller management</h1>

</body>
</html>