<!DOCTYPE html>
<html lang="ru" xmlns="http://www.thymleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymleaf.org " xmlns:th="http://jboss.org/xml/ns/javax/validation/mapping">
<head>
    <link rel="stylesheet" type="text/css" href="/CSS/main.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:include="/admin/adminMenu :: adminMenu">  </div>
<h1>User management</h1>
<br/>
<br/>
<form th:object="${user}" th:action="@{/admin/users}" method="POST">
<table>
    <tr th:id="${lsr.id}" th:each="lsr : ${list}">
        <td>Пользователь:</td>
        <td th:text=${lsr.firstName}></td>

        <td>Логин:</td>
        <td th:text=${lsr.username}></td>

        <td>Действия</td>
        <td><a href="" th:onclick="'block('+${lsr.id}+')'">Заблокировать</a>
            <a class="deleteRow" href="" th:onclick="'delete('+${lsr.id}+')'" th:attr="data-user-id=${lsr.id}">Удалить</a>
            <a th:href="@{/admin/user/}+${lsr.id}">Просмотреть контроллеры</a>
        </td>
    </tr>

    <tr><td colspan="6">Добавить пользователя.(простой пасс)</td></tr>

    <tr>
        <td><p>Login</p></td><td><p>
        <input type="text" id="username" th:field="*{username}"/>
    </p></td>
        <td><p>First name</p></td><td><p>
        <input type="text" id="first_name" th:field="*{firstName}"/>
    </p></td>
        <td><p>Password</p></td><td><p>
        <input type="password" id="password" th:field="*{password}"/>
    </p></td>
    <tr>
    <td colspan="3"><p>Включить: <input type="checkbox" th:field="*{enabled}" max="1" min="0"/></p></td>
    <td  colspan="3"><p><input type="submit" value="Добавить"/></p></td>
</tr>

    </tr>

</table>
</form>

<script th:inline="javascript"
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"
></script>

<script th:inline="javascript">
$("a.deleteRow").click(function (event){
    event.preventDefault();
    var td = $(event.target).parent();
    var tr = td.parent();
    let userId = $(event.target).attr('data-user-id');
   $.ajax({
                url: '/admin/users/delete/' + userId,
                method: 'DELETE',
                success: function () {
                    tr.remove();
                },
                error: function (error) {
                alert('error; ' + eval(error));
                }
            });
});
    </script>


</body>
</html>
