<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>fragments</title>
</head>
<body>
<!--форма логина-->
<div th:fragment="login_data" class="login_data">
    <div id="loginform" align="right">
        <p th:if="${#httpServletRequest.remoteUser}"><b>Hello [[${#httpServletRequest.remoteUser}]]!</b></p>
        <form th:action="@{/logout}" method="post">
        <input th:if="${#httpServletRequest.remoteUser}" type="submit" value="Sign Out"/>
    </form>
        <p th:unless="${#httpServletRequest.remoteUser}"> <a th:href="@{/login}">Вход</a><br/><a th:href="@{/register}">Регистрация</a> </p>
    </div>
</div>
<!--главное меню на инфо -->
<div th:fragment="main_menu" class="main_menu">
    <div  class="top_menu" id="top_menu">
        <div class="item_menu" id="menu_item0">
            <a th:href="@{/}">Главная</a>
        </div>
        <div  sec:authorize="isAuthenticated()" class="item_menu" id="menu_item1">
            <a th:href="@{'/profile/'+${userid}}">Профиль</a>
        </div>


        <div sec:authorize="hasRole('ROLE_ADMIN')" class="item_menu" id="menu_item3">
            <a th:href="@{/admin/users}">Пользователи</a>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="item_menu" id="menu_item4">
            <a th:href="@{/admin/controllers}">Контроллеры</a>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="item_menu" id="menu_item5">
            <a th:href="@{/admin/users}">Настройки системы</a>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="item_menu" id="menu_item6">
            <a th:href="@{/admin/users}">Мониторинг</a>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="item_menu" id="menu_item7">
            <a th:href="@{/admin/users}">Рассылка</a>
        </div>
    </div>
</div>
</body>
</html>