<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Info Page</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/CSS/main.css">

</head>
<body>
    <div th:include="/fragments :: login_data">  </div>
    <div th:include="/fragments :: main_menu">  </div>
    <div id="info" class="info">
        <div id="block" class="block">
            <p><H1>Система управления и мониторинга Wiy</H1><B></B></p>
            <p>Система предназначена для установки клиентского ПО на микрокомпьютеры с конфигурацией пользователя.
            Позволяет подключать любые устройства по протоколам Wi-Fi, one-wire,bluetoth,ethernet и другие. Данный хост является центральной управляющей
            панелью для всех устройств пользователя. Реализуется REST-API, для управления с любых устройств. Для управления своими
            устройствами необходимо авторизоваться в системе.
            </p>
            <p>Возможности системы:</p>
            <li>
                <ul>управление любыми клиентскими устройствами через контроллеры raspberry pi с предустановленной JAVA</ul>
                <ul>Поддержка любых протоколов</ul>
                <ul>управление с любых устройств через REST (DEV)</ul>
                <ul>возможность использовать сценарии</ul>
                <ul>группировка устройств по объектам</ul>
                <ul>видеонаблюдение и триггеры на него (DEV)</ul>
            </li>
            <p>
            Полная техническая документация будет здесь
            <a href="download">скачать ПО для контроллера</a>
            <a href="registerDevice">зарегистрировать устройство в системе</a>
            <a href="feedback">Обратная связь</a>
            </p>
        </div>

    </div>
</body>
</html>